.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.card-container {
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.cospace-container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.Coliving-container {
  background-color: #222;
  background-image: url("../images/coliving-inside.jpg");
  height: 400px;
  width: 600px;
  float: left;
  margin-left: 150px;
  margin-top: 50px;
}

.Coworking-container {
  background-color: #222;
  background-image: url("../images/coworking.jpg");
  height: 400px;
  width: 600px;
  float: right;
  margin-right: 150px;
  margin-top: 50px;
}

.text-box {
  color: white;
  padding: 40px;
  margin-top: 80px;
  margin-left: 90px;
  font:;
  letter-spacing: 30px;
  text-align: center;
  font-size: 100px;
  border-style: solid;
  width: 400px;
  background: rgb(230, 228, 228, 0.4);
}

.top-link {
  margin: auto;
  width: 30%;
  padding: 30px;
}

.wrapper {
  margin: auto;
  width: 1700px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
